nav {
  margin: 35px 0 70px;
}

.nav-title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 24px;
}

.nav-list {
  font-size: 16px;
  font-weight: 600;
}

.nav-column {
  margin-bottom: 35px;
}
